#{extends 'main.html' /}
#{set title:'Online Guitar Tuner' /}

<h1>${ collective.name }</h1>
<div id="sidebar">
	<img src="@{'public/images/collective.jpg'}" />
	<ul>
		<li>Follow</li>
		<li><a href="joincollective">Join</a></li>
	</ul>
</div>
<div id="main-content">
	${ collective.description }
	<h3>Members</h3>
	<ul>
		<li>Andrew Clark</li>
		<li>Dougal McKiernan</li>
		<li>Frizzy Sticks</li>
	</ul>
	<h3>Genres</h3>
	<ul>
		<li>Funk</li>
		<li>Scat</li>
	</ul>
	<h3>Music</h3>
	<h4 class="song">Moving to L.A.</h4>
	<object height="81" width="100%"> 
		<param name="movie" value="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F35246506&amp;show_comments=false&amp;auto_play=false&amp;color=ff7700"></param> <param name="allowscriptaccess" value="always"></param> <embed allowscriptaccess="always" height="81" src="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F35246506&amp;show_comments=false&amp;auto_play=false&amp;color=ff7700" type="application/x-shockwave-flash" width="100%"></embed> 
	</object> 
  	<div class="actions">
	  	<a href="/publish">edit</a>,
	  	<a href="/collaborateowner">collaborate(owner)</a>,
	  	<a href="/collaborateguest">collaborate(guest)</a>,
	  	<a href="/publish">publish</a>
  	</div>
	<h4 class="song">Time to Rise ft. Tara Minton</h4>
	<object height="81" width="100%"> 
		<param name="movie" value="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F33262317&amp;show_comments=false&amp;auto_play=false&amp;color=ff7700"></param> <param name="allowscriptaccess" value="always"></param> <embed allowscriptaccess="always" height="81" src="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F33262317&amp;show_comments=false&amp;auto_play=false&amp;color=ff7700" type="application/x-shockwave-flash" width="100%"></embed> 
	</object>   
	<div class="actions">
		<a href="/publish">edit</a>,
	  	<a href="/publish">collaborate</a>,
	  	<a href="/publish">publish</a>
  	</div>		
</div>