#{extends 'main.html' /}
#{set title:'How It Works' /}
<h1>How It works</h1>

<p>Many other sites make you really work to find the tab you want. We have tried to make it as easy as possible.
<ul>
	<li>Simply <a href="/">search</a> for the song, artist, or album you are interested in</li>
	<li>Decide whether you want to learn the chords or tablature</li>
	<li>Start playing...</li>
</ul> 
</p>

<p>We have set up wiki style editing for each tab, so if there's something not quite right, click the edit button
and make the change</p> 
 