#{ extends 'admin.html' /}

<h1>School Directory</h1>

<h3>Add new school</h3>
#{form @admin.Directory.add() }
	<input type="text" name="name" value="Name" />
	<input type="text" name="website" value="Website" />
	<input type="text" name="email" value="Email" />
	<input type="checkbox" name="hasReplied" />
	<input type="checkbox" name="hasLinked" />
	<input type="text" name="longitude" value="Longitude" />
	<input type="text" name="latitude" value="Latitude" />
	<input type="submit" class="btn btn-primary" value="save"/>
#{/form}

<h3>Current Schools</h3>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Website</th>
			<th>Has Replied</th>
			<th>Has Linked</th>
			<th>Longidude</th>
			<th>Latidude</th>
		</tr>
	</thead>
	<tbody>
#{list items: schools, as: 'school'}
	<tr>	
		<td>${school.name}</td>
		<td>${school.email}</td>
		<td>${school.website}</td>
		<td>${school.hasReplied}</td>
		<td>${school.hasLinked}</td>
		<td>${school.longitude}</td>
		<td>${school.latitude}</td>
	</tr>
#{/list}
	</tbody>
</table>
