#{extends 'studio.html' /}
#{set title:'Online Guitar Tuner' /}

#{set 'contentHeader'}
 <h1>Share ${seshion.name}</h1>
#{/set}



<h2>Shared Users</h2>
<ul>
#{list items:sharedUserSessions, as: 'sharedUserSession' }
	<li>
		${sharedUserSession.user.name} 
		#{if sharedUserSession.role.equals('owner')}
			(owner)
		#{/if}
		#{else}
			<!--a href="@{makeUserOwner(sharedUserSession.user.id)}">make owner</a,-->
			<a href="@{removeUser(seshion.id, sharedUserSession.user.id)}">remove</a>
		#{/else}
		
	</li>
	#{/list}
</ul>
<h2>All Users</h2>
<ul>
#{list items:allUsers, as: 'aUser' }
	<li>${aUser.name} <a href="@{shareWith(seshion.id,aUser.id)}">share</a>
	</li>
#{/list}
</ul>
</input type="submit" value="save" />

<p>Steal from gumtree's offer/wanted section here.</p>
<h2>Post your session</h2>
<p>This allows the session to be <a href="findSession">searchable</a></p> 

<h2>Search</h2>
<p>Search for a drummer who's been playing for 2+ years and is into blues</p>
<a href="/sessions">Done</a> 