#{extends 'studio.html' /}
#{set title:'Online Guitar Tuner' /}

#{set 'contentHeader'}
 <h1>Share ${seshion.name}</h1>
 <p>${seshion.description}</p>
 <h2>Tags</h2>
#{/set}



<h2>Shared Users</h2>
<ul>
</ul>
<a href="#">Add user</a> </h2>
<ul>
#{list items:allUsers, as: 'aUser' }
	<li>${aUser.name} <a href="@{shareWith(seshion.id,aUser.id)}">share</a>
	</li>
#{/list}
</ul>
</input type="submit" value="save" />


<h2>Sharing settings</h2>
<p>This allows the session to be <a href="findSession">searchable</a></p> 

<h2>Search</h2>
<p>Search for a drummer who's been playing for 2+ years and is into blues</p>
<a href="/sessions">Done</a> 