#{extends 'academy.html' /}
#{set title:'Find a musical school or tutor' /}

<div class="row frow">
	<div class="span12">
		<h1>Find a Music School or Private Tutor</h1>
		
		<p>Finding a music teacher or school can be the most important decision in your music career.
		Use our tool to find the most highly rated school in your area.
		</p>
		
		#{list items: schools, as: 'school'}
			<h3><a href="@{show(school.id)}">${school.name}</a></h3>
			${school.email}
			#{if school.hasReplied}<p><a href="${school.website}" target="_blank"	>website</a><br/>
				#{if school.twitter != null}
					<a href="${school.twitter}" target="_blank"><img src="@{'/public/images/twitter.png'}"/></a>
				#{/if}
				#{if school.facebook != null}
					<a href="${school.facebook}" target="_blank"><img src="@{'/public/images/facebook.png'}"/></a>
				#{/if}
			#{/if}
			
		#{/list}
	</div>
</div>


<hr class="space" />