#{extends 'main.html' /}
#{set title:'Record Music' /}
#{set id:'single' /}

<hr class="soften" />
<h1>Record Music</h1>

<div class="row">
	<div class="span6">
	
		<p>You don't need a full blown recording studio these days to make professional sounding productions. </p>
		
		<p>The 9dials studio is a free online digital audio workstation aimed at making recording your tracks as simple and fun as possible.</p>
		
		<p>While still under construction, the studio will provide all of the functionality you would expect from a desktop DAW, with all the added advantages of being online.</p>
		
		<p>If you like what you see, please join our mailing list below to stay updated</p>  
	</div>
	
	<img class="span6" src="@{'/public/images/recording-studio.jpg'}" />
	
</div>

<hr class="space" />