#{extends 'main.html' /}
#{set title:'Home' /}
#{set home:'active' /}
#{set id:'single' /}

  
  	<div class="row frow">
  		<div class="span12">
  			<h1>9dials Music Studio</h1>
  		</div>
  	</div>
  	<div class="row">
	  	<div class="span6">
		    <p>9dials aims to be the worlds first free and truly collaborative online recording 
               studio where you can share your music and get it heard by the right people.</p>
	    </div>
	    <div class="span4 pull-right">
	    	<div class="well">
                <a href="@{securesocial.SecureSocial.authenticate('googleopenid')}">
                    <img src="@{'/public/images/google-login-btn.png'}" title="google"/>
                </a>
                <a href="@{securesocial.SecureSocial.authenticate('facebook')}">
                    <img src="@{'/public/images/facebook-login-btn.png'}" title="facebook"/>
                </a>
            </div>
        </div>
    </div> 
    <hr class="soften">
  <section id="homepage">
    <div class="row">
      <div class="span4">
        <h2>Create Music</h2>
        <p>Record your own tracks directly in the browser, or upload them to start editing</p>
        <a href="@{CreateMusic.index}" class="btn">Read more &raquo;</a> 
      </div>
      <div class="span4">
        <h2>Share Online</h2>
        <p>Open your session to the community to allow like minded musicians to add their own flavour to your music</p>
        <a href="@{Share.index}" class="btn">Read more &raquo;</a>
      </div>
      <div class="span4">
        <h2>Publish to the world</h2>
        <p>Use our connections to get your music heard by the right people</p>
        <a href="@{HowToPublish.index}" class="btn">Read more &raquo;</a>
      </div>
    </div>

  </section>
  <hr class="space">
