#{extends 'main.html' /}
#{set title:'Home' /}
#{set home:'active' /}

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit frontpage">
    <h1>Coming Soon</h1>
    <p>9dials aims to be the worlds first free and truly collaborative online recording studio where you can share your music and get it heard by the right people.</p>
    <a href="@{Sessions.app2(1)}" target="_blank" class="btn btn-primary btn-large">Try it now &raquo;</a> 
  </div>
  <hr class="soften">
  <section id="homepage">
    <div class="row">
      <div class="span4">
        <h2><a href="@{CreateMusic.index}">Create Music</a></h2>
        <p>Record your own tracks directly in the browser, or upload them to start editing</p>
      </div>
      <div class="span4">
        <h2><a href="@{Share.index}">Share Online</a></h2>
        <p>Open your session to the community to allow like minded musicians to add their own flavour to your music</p>
      </div>
      <div class="span4">
        <h2><a href="@{HowToPublish.index}">Publish to the world</a></h2>
        <p>Use our connections to get your music heard by the right people</p>
      </div>
    </div>
  </section>
  <hr class="space">
