#{extends 'main.html' /}
#{set title:'Home' /}
#{set home:'active' /}

  <div class="hero-unit">
  	<div class="row">
  		<div class="span12">
  			<h1>9dials Music Studio</h1>
  		</div>
  	</div>
  	<div class="row">
	  	<div class="span6">
		    <p>9dials aims to be the worlds first free and truly collaborative online recording studio where you can share your music and get it heard by the right people.</p>
		    <a href="http://studio.9dials.com" target="_blank" class="btn btn-primary btn-large">Try it now &raquo;</a>
	    </div>
	    <div class="span4 pull-right">
	    	<div class="well">
		    	       #{if flash.error}
			    <div class="alert-message block-message error">
			        <div class="alert-actions">
			            ${flash.error}
			        </div>
			    </div>
			    #{/if}
			
			    <div class="clearfix">
			        <p>&{'securesocial.clickOnYourAccount'}</p>
			        <p>
			            #{list items: providers, as: 'provider'}
			                #{if provider.type != securesocial.provider.ProviderType.userpass}
			                    #{if (provider.authMethod == securesocial.provider.AuthenticationMethod.OPENID ||
			                         provider.authMethod == securesocial.provider.AuthenticationMethod.OPENID_OAUTH_HYBRID) &&
			                       provider.needsUsername() }
			                        <a href="javascript:openid('${provider.type}')">                        
			                    #{/if}
			                    #{else}
			                        <a href="@{securesocial.SecureSocial.authenticate(provider.type.toString().toLowerCase())}">
			                    #{/else}
			                    <img src="@{'/public/images/providers/'}/${provider.type.toString().toLowerCase()}.png" title="${provider.type}"/></a>
			                #{/if}
			            #{/list}
			        </p>
			    </div>
			
			    <div id="openid-form" class="clearfix" style="display:none;">
			        #{form @securesocial.SecureSocial.authenticate(), autocomplete:'off'}
			            <input id="openid-type" type="hidden" name="type">
			            <fieldset>
			                <div class="clearfix">
			                        <input id="openid-user" name="openid.user" class="large">
			                        <input type="submit" value="&{'securesocial.login'}" class="btn small">
			                </div>                       
			            </fieldset>
			        #{/form}
			    </div>
			    #{if userPassEnabled }
			    <div class="clearfix" >
			        <p>Login with facebook or google</p>
			        #{form @securesocial.SecureSocial.authenticate(securesocial.provider.ProviderType.userpass), autocomplete:'off'}
			            <fieldset>
			                 <div class="clearfix #{ifError 'userName'} error #{/ifError}">
			                    <label for="displayName">&{'securesocial.userName'}</label>
			                    <div class="input">
			                        <input id="displayName" class="large" name="userName" value="${flash.userName}"/>
			                        #{ifError 'userName'}
			                        <span class="help-inline">#{error 'userName'/}</span>
			                        #{/ifError}
			                    </div>
			                </div>
			
			                 <div class="clearfix #{ifError 'password'} error #{/ifError}">
			                    <label for="password">&{'securesocial.password'}</label>
			                    <div class="input">
			                        <input id="password" class="large" name="password" type="password"/>
			                        #{ifError 'password'}
			                        <span class="help-inline">&{'securesocial.required'}</span>
			                        #{/ifError}
			                    </div>
			                </div>
			
			                <div class="actions">
			                    <input id="upsubmit" type="submit" value="&{'securesocial.login'}" class="btn primary">
			                </div>
			            </fieldset>
			        #{/form}
			    </div>
			
			    <div class="clearfix">
			        <p>&{'securesocial.signUp'} #{a @securesocial.UsernamePasswordController.signUp()}&{'securesocial.here'}#{/a}</p>
			    </div>
			    #{/if}
	    	</div>
	   	</div>
    </div> 
  </div>
  <hr class="soften">
  <section id="homepage">
    <div class="row">
      <div class="span4">
        <h2>Create Music</h2>
        <p>Record your own tracks directly in the browser, or upload them to start editing</p>
        <a href="@{CreateMusic.index}" class="btn">Read more &raquo;</a> 
      </div>
      <div class="span4">
        <h2>Share Online</h2>
        <p>Open your session to the community to allow like minded musicians to add their own flavour to your music</p>
        <a href="@{Share.index}" class="btn">Read more &raquo;</a>
      </div>
      <div class="span4">
        <h2>Publish to the world</h2>
        <p>Use our connections to get your music heard by the right people</p>
        <a href="@{HowToPublish.index}" class="btn">Read more &raquo;</a>
      </div>
    </div>

  </section>
  <hr class="space">
