#{extends 'academy.html' /}
#{set title: lesson.name + ' | Drum Lesson' /}
<hr class="soften" />

#{form @DrumLessons.saveLesson(lesson.id)}
<div class="row">
	<div class="span3">
		<input type="text" name="name" value="${lesson.name}" />
	</div>
	<div class="offset10">
		<a href="@{Academy.editLesson(lesson.name)}" class="btn">Edit</a>
	</div>
</div>
<p>Hosted with permission from <a href="http://www.drumlessons.com">drumlessons.com</a></p>
#{set 'moreScripts'}
		<script type="text/javascript">
		  // This specifies the location of the pdf.js file.
		  PDFJS.workerSrc = "/auth/public/javascripts/lib/pdf.js";
		</script>
		<script type="text/javascript">
		'use strict';
		PDFJS.getPdf('/auth/public/assets/pdfs/drumLessons/${lesson.pdfLocation}', function getPdfHelloWorld(data) {
		  //
		  // Instantiate PDFDoc with PDF data
		  //
		  var pdf = new PDFJS.PDFDoc(data);
		  var page = pdf.getPage(1);
		  var scale = 1.5;
		
		  //
		  // Prepare canvas using PDF page dimensions
		  //
		  var canvas = document.getElementById('the-canvas');
		  var context = canvas.getContext('2d');
		  canvas.height = page.height * scale;
		  canvas.width = page.width * scale;
		
		  //
		  // Render PDF page into canvas context
		  //
		  page.startRendering(context);
		});
	</script>
	
#{/set}

<div class="row">
	<div class="span3">
		<input type="text" name="youtubeLocation" value="${lesson.youtubeLocation}" />
	</div>
</div>
<div class="row">
	<div class="offset2">
		<iframe width="620" height="378" frameborder="0" 
			src="${lesson.youtubeLocation}" 
			type="text/html" class="youtube-player" title="YouTube video player"></iframe>
	</div>
</div>
<input type="submit" class="btn btn-primary" value="save" />

<canvas id="the-canvas"></canvas>
<hr class="space" />
#{/form}