#{extends 'studio.html' /}
#{set title:'Online Guitar Academy' /}
<h1>Academy</h1>

<p>Our academy will allow you to find guitar teachers and students alike, facilitating scheduling, learning material and video lessons.</p>

<div class="row">
	<div class="offset2">
		<iframe title="YouTube video player" class="youtube-player" type="text/html" width="620" height="378" 
		src="http://www.youtube.com/embed/2DQx58axEns?modestbranding=1&amp;rel=0&amp;hl=en&amp;fs=1&amp;border=0&amp;iv_load_policy=3&amp;hd=1&amp;showinfo=0" frameborder="0"></iframe>
	</div>
	</div>