#{extends 'main.html' /}
#{set id:'single' /}
#{set title:"Your Profile" /}
#{set 'moreStyles'}
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/jquery-ui-1.8.17.custom.css'}">
#{/set}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/lib/jquery-ui-1.8.17.custom.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}
<div class="row">
  <div class="span4">
  	<div class="well" style="margin-top:10px;padding:8px 0;">
  	<ul class="nav nav-list">
  		<li class="nav-header">${_user.name}</li>  		
  		<li class="active"><a href="edit"><i class="icon-user"></i> Profile</a></li>
  		<li><a href="settings"><i class="icon-cog"></i> Account Settings</a></li>
  	</ul>
  	</div>
  </div>
  <div class="span8">
  <div class="well" style="margin-top:10px;padding:8px 0;">
  <h3>Upload a profile picture</h3>
	<img width="100" height = "100" src="${_user.imageUrl}" />
	#{form @Profile.uploadPicture(), enctype:'multipart/form-data'}
    <input type="file" class="input-file" name="picture.image" /><br/>
    <input class= "btn btn-primary" type="submit" name="submit" value="Upload picture" />
#{/form}
  </div>
    <div class="well" style="margin-top:10px;padding:8px 0;">
  <h3>Instruments</h3>	
	<ul>
		#{ list items: _user.instruments, as:'instrument' } 
		<li>${instrument.name}</li>
		#{/list}
	</ul>	
#{form @Profile.addInstrument()}
    <p>
        <label for="name">Instrument name: </label>
        <input  id="instrument-add" type="text" name="name" id="name" />
    </p>
    <p>
        <input class= "btn btn-primary" type="submit" value="Add instrument" />
    </p>
#{/form}
  </div>
  </div>
</div>
<style>
	.ui-autocomplete-loading { background: white url(@{'public/images/ui-anim_basic_16x16.gif'}) right center no-repeat; }
	</style>
<script>
	$(function() {		
		$( "#instrument-add" ).autocomplete({
			source: "/api/instruments",
			minLength: 2
		});
	});
	</script>
