<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">  
     <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# ninedials: http://ogp.me/ns/fb/ninedials#">
  	<meta property="fb:app_id"      content="351696901530052" /> 
  	<meta property="og:type"        content="ninedials:audio_clip" /> 
  	<meta property="og:url"         content="${play.Play.configuration.get("application.baseUrl")+request.url}" /> 
  	<meta property="og:title"       content="Sample Clip Name" /> 
  	<meta property="og:description" content="Listen to me singing in my lounge!" /> 
  	<meta property="og:image"       content="http://www.9dials.com/public/images/audio_waveform.jpg" />
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="${_response_encoding}"></script>
        <link rel="stylesheet" href="@{'/public/bootstrap/css/bootstrap.css'}">                
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/inlineplayer.css'}" />
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/flashblock.css'}" />
		<script type="text/javascript" src="@{'/public/javascripts/lib/soundmanager2-nodebug-jsmin.js'}"></script>
		<script type="text/javascript" src="@{'/public/javascripts/lib/inlineplayer.js'}"></script>
		<script type="text/javascript" src="@{'/public/bootstrap/js/bootstrap.js'}"></script>
                               
        #{get 'moreScripts' /}        
        <script type="text/javascript">
  		function postClip(url){  		
      FB.api(
        '/me/ninedials:share?audio_clip='+url,
        'post',
        function(response) {
           if (!response || response.error) {
              alert('Error occured');
           } else {
              alert('Posted to wall successfully');
           }
        });
        }
        function sendClip(type,url){
        	#{if play.Play.configuration.get("application.mode") == 'prod'}
        	_gaq.push(['_trackEvent', 'Facebook', type, 'Sent']);
        	#{/if}        	
      		window.location.href = url;      		
        }; 
  </script>
  <script type="text/javascript" src="/public/javascripts/swfobject.js"></script>
		<script type="text/javascript">
		swfobject.registerObject("myId", "9.0.0", "expressInstall.swf");
		</script>
        #{if play.Play.configuration.get("application.mode") == 'prod'}
		<script type="text/javascript">

	  	var _gaq = _gaq || [];
  		_gaq.push(['_setAccount', 'UA-31220344-1']);
  		_gaq.push(['_setDomainName', '9dials.com']);
  		_gaq.push(['_trackPageview']);

	  	(function() {
    		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  		})();

		</script>
		#{/if}
    </head>
    	<body>
    	#{fbg.scriptAsync /}    	
    	<div class="container" >
  	    		#{doLayout /}
        </div>
	    </body>
</html>