<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/lib/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/inlineplayer.css'}" />
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/flashblock.css'}" />
		<script type="text/javascript" src="@{'/public/javascripts/lib/soundmanager2-nodebug-jsmin.js'}"></script>
		<script type="text/javascript" src="@{'/public/javascripts/lib/inlineplayer.js'}"></script>
        <link rel="stylesheet" media="screen" href="@{'/public/bootstrap/css/bootstrap.min.css'}">        
        <script src="@{'/public/bootstrap/js/bootstrap.js'}" type="text/javascript" charset="${_response_encoding}"></script>              
        #{get 'moreScripts' /}
        #{if play.Play.configuration.get("application.mode") == 'prod'}
		<script type="text/javascript">

	  	var _gaq = _gaq || [];
  		_gaq.push(['_setAccount', 'UA-31220344-1']);
  		_gaq.push(['_setDomainName', '9dials.com']);
  		_gaq.push(['_trackPageview']);

	  	(function() {
    		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  		})();

		</script>
		#{/if}  
    </head>
    	<body>
    	#{fbg.scriptAsync /}    	
    	<div class="container" >
  	    		#{doLayout /}
        </div>
	    </body>
</html>