<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html>
    <head>
        <title>#{get 'title' /} :: 9Dials</title>
        <meta charset="${_response_encoding}">        
        <link rel="stylesheet" media="screen" href="@{'/public/bootstrap/css/bootstrap.min.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/bootstrap/css/render.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/common.css'}">
                
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/lib/jquery.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/bootstrap/js/bootstrap.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/lib/underscore.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/lib/backbone.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        
        <script src="@{'/public/javascripts/routers/appRouter.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/models/band.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/models/bandCollection.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/models/tab.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/models/tabCollection.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/views/bandListItemView.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/views/bandListView.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/views/tabListItemView.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/views/tabListView.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
		    
    	<header class="header">
		  <div class="container">
		    <div class="row">
		      <div class="span6"> <a href="@{Application.index}"><img id="page_logo" src="@{'/public/images/logo.png'}" width="183" height="55" alt="9dials"></a> </div>
		      <div class="span6">
		        <ul class="nav nav-pills header-nav">
		          <li class="#{get 'home' /}"><a href="@{Application.index}">Home page</a></li>
		          <li class="#{get 'studio' /}">  <a id="studioLink" href="@{Sessions.index}">Studio</a></li>
    			  <li><a id="academyLink" href="@{Academy.index}">Academy</a></li>
    			  <li><a id="tunaLink"  href="@{Tuna.index}">Tuna</a></li>
    			  #{if _user }
		    		<li class="dropdown">
		              <a href="#" class="dropdown-toggle" data-toggle="dropdown">${_user.name} <b class="caret"></b></a>
		              <ul class="dropdown-menu">
		                <li><a href="/profile">My Profile</a></li>
		                <li class="divider"></li>
		                <li><a href="/auth/logout">Logout</a></li>
		              </ul>
		            </li>
		    		#{/if}
		    		#{else}
		    			<li><a id="profile" href="/auth/login">login</a></li>
		    		#{/else}
		        </ul>
		      </div>
		    </div>
		  </div>
		</header>
    	<div class="container" id="#{get 'id' /}">
  	    		#{doLayout /}
        </div>
	    <footer class="footer">
	       	<div class="container footer_content">
	       		<div class="row">
	       			<div class="span2 frow_white">
	       				<h4>&copy;<a href="www.9dials.com">9dials</a></h4>
	       				<ul class="unstyled">
			        		<li><a href="@{CreateMusic.index}">Record</a></li>
			        		<li><a href="@{Share.index}">Share</a></li>
			        		<li><a href="@{HowToPublish.index}">Publish</a></li>
			        	</ul>
	       			</div>
			        <div class="span2 footer_render">
			        	<h4>Learn</h4>
			        	<ul class="unstyled">
			        		<li><a href="/howitworks">Faq</a></li>
			        		<li><a href="/howitworks">How it works</a></li>
			        		<li><a href="/howitworks">Premium Accounts</a></li>
			        	</ul>
			        </div>
			        <div class="span2 footer_render">
			        	<h4>Community</h4>
			        	<ul class="unstyled">
			        		<li><a href="/howitworks">Featured artists</a></li>
			        		<li><a href="/howitworks">Forum</a></li>
			        	</ul>
			        </div>
			        <div class="span2 footer_render">
			        	<h4>About</h4>
			        	<ul class="unstyled">
			        		<li><a href="/howitworks">Contact</a></li>
			        		<li><a href="/howitworks">Terms & Conditions</a></li>
			        	</ul>
			        </div>
		        </div>
        	</div>
        	<div class="footer_bottom">
		    <div class="container">
		      <div class="row">
		        <div class="span6 frow">
		          <div class="input-prepend">
		            <h3>Stay updated</h3>
		            <p>If you would like to be one of the first to get access to our new tool when it's ready, please join our mailing list.</p>
		            <form class=" form-inline" action="@{Application.mailingList()}">
		              <span class="add-on"><i class="icon-envelope"></i></span>
		              <input type="text" name="emailAddress" class="input-small span2" placeholder="Email">
		              <input type="hidden" name="requestUrl" value="${request.url}"/>
		              <button type="submit" class="btn"><i class="icon-check"></i>Subscribe</button>
		            </form>
		          </div>
		        </div>
		      </div>
		    </div>
	    </footer>
        
        
        <!-- Piwik --> 
		<script type="text/javascript">
		var pkBaseURL = (("https:" == document.location.protocol) ? "https://util.9dials.com/piwik/" : "http://util.9dials.com/piwik/");
		document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
		</script><script type="text/javascript">
		try {
		var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
		piwikTracker.trackPageView();
		piwikTracker.enableLinkTracking();
		} catch( err ) {}
		</script><noscript><p><img src="http://util.9dials.com/piwik/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
		<!-- End Piwik Tracking Code -->
    </body>
</html>
