body {
	font-family:arial;
	color:#444;
	margin:0;
	padding:0;
}

#video {
	float:right;
}

#main-content {
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	margin-top:70px;
	min-height:450px;
}

input[type="text"] {
 border:1px solid #CCCCCC;	
}

#search-container {
	text-align:center;
}

#search-textbox {
	width:400px;
}

.list {
	float:left;
}

.green {
	color:#0f0;
}

.white {
	color:white;
}

#site-navigation {
	position:fixed;
	top:0;
	z-index:100;
	width:100%;
	margin: 0;
	padding: 0.3em 0.5em;
	background: #555 none;
}

#site-navigation ul {
	margin:0;
	padding: 0;
	list-style-type:none;
}
#site-navigation li {
	float: left;
	width:6%;
	text-align:center;
}

#footer {
	width:50%;
	margin-top:40px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size:14px;
}

a {
	color:#333;
	text-decoration:none;
}

br[clear=left] {
	clear: left;
}