body {
	font-family:arial;
	color:#444;
	margin:0;
	padding:0;
}

#video {
	float:right;
}

#content-container {
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	margin-top:70px;
	min-height:450px;
}

input[type="text"] {
 border:1px solid #CCCCCC;	
}

#search-container {
	text-align:center;
}

#search-textbox {
	width:400px;
}

.list {
	float:left;
}

.green {
	color:#0f0;
}

.white {
	color:white;
}

#site-navigation {
	position:fixed;
	top:0;
	z-index:100;
	width:100%;
	margin: 0;
	padding: 0.3em 0;
	background: #555 none;
}

#site-navigation a:hover {
	color:#0f0;
}

#site-navigation ul {
	margin:0;
	padding: 0;
	list-style-type:none;
}

#site-navigation li {
	float: left;
	width:6%;
	text-align:center;
}

#footer {
	width:50%;
	margin-top:40px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size:14px;
}

#profile {
	float:right;
	color:white;
	margin-right:10px;
}

a {	
	color:#333;
	text-decoration:none;
}
a:hover {
	color:#0c0;
}

br[clear=left] {
	clear: left;
}

ul {
	display:inline;
	margin:0;
	padding:0;
}
#main-content ul li {
	display:inline;
	border-radius: 5px;
	padding:2px;
	border: 1px solid #999;
}

.song {
	padding-right:10px;
}
#sidebar {
	float:left;
}

.left {
	float:left;
}

#main-content {
	margin-left:210px;
}

.actions {
	float:right;
}