#{extends 'main.html' /}
#{set title:'Chord Finder' /}

#{set chordFinder:'active' /}
#{set 'moreStyleSheets' /}
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/chordFinder.css'}">
#{set/}

#{set id:'single' /}

	<hr class="soften" />
	<!-- script type="text/javascript"><!--
		google_ad_client = "ca-pub-7240991998302198";
		/* ChordFinderLeaderBoard */
		google_ad_slot = "5482188107";
		google_ad_width = 728;
		google_ad_height = 90;
		//-->
		<!--  /script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script-->
	<h1>Chord Finder</h1>
	<script type="text/javascript">
		$(document).ready(function(){
			$.getJSON("@{'/public/assets/chords.json'}", function(noteData) {
				console.log(noteData);	
				
			});
		});
	</script>
	<p>	
		Chords are built up around a root note with the other notes creating the harmonies and 'feel' of the chord. This tool gives you the finger positions, in several variations,
		for the chord you are looking for.
	</p>
	<div class="row">
		<div id="fretboard">
			<div id="ENote" class="root-note" style="top:171px;left:215px;" ></div>
			<div id="aNote" class="note" style="top:151px;left:215px;" ></div>
			<div class="dNote" style="top:131px;left:215px;" ></div>
			<div class="gNote" style="top:115px;left:291px;" ></div>
		</div>
	</div>
	<div class="row">
		<div class="span2">
			<h4>Root note</h4>
		    <div class="btn-group">
		    <a class="btn dropdown-toggle btn-mini" data-toggle="dropdown" href="#">
		    A
		    <span class="caret"></span>
		    </a>
		    <ul class="dropdown-menu">
		    	<li><a href="#">A# (Bb)</a></li>
		    	<li><a href="#">B</a></li>	
		    	<li><a href="#">C</a></li>
		    	<li><a href="#">C# (Db)</a></li>
		    </ul>
		    </div>
		</div>
		<div class="span2">
			<h4>Chord type</h4>
		    <div class="btn-group">
		    <a class="btn dropdown-toggle btn-mini" data-toggle="dropdown" href="#">
		    Major
		    <span class="caret"></span>
		    </a>
		    <ul class="dropdown-menu">
				<li><a href="#">Minor</a></li>
				<li><a href="#">dim</a></li>
				<li><a href="#">aug</a></li>
				<li><a href="#">sus</a></li>
				<li><a href="#">6</a></li>
				<li><a href="#">7</a></li>
				<li><a href="#">maj7</a></li>
				<li><a href="#">9</a></li>
				<li><a href="#">add9</a></li>
				<li><a href="#">m6</a></li>
				<li><a href="#">m7</a></li>
				<li><a href="#">mmaj7</a></li>
				<li><a href="#">m9</a></li>
				<li><a href="#">11</a></li>
				<li><a href="#">7sus4</a></li>
				<li><a href="#">13</a></li>
				<li><a href="#">6add9</a></li>
				<li><a href="#">-5</a></li>
				<li><a href="#">7-5</a></li>
				<li><a href="#">7maj5</a></li>
				<li><a href="#">maj9</a></li>
		    </ul>
		    </div>
		</div>
	</div>
	<hr class="space" />
