#{extends 'academy.html' /}
#{set title:'Online Guitar Academy' /}

<h1>Drum Lessons</h1>

<p>Our academy will allow you to find guitar teachers and students alike, facilitating scheduling, learning material and video lessons.</p>

<hr class="space" />

<div class="row">
	<div class="span2">
		#{list items:drumLessonGroups, as: 'drumLessonGroup' }
		<div >
			<a href="@{Academy.index}" class="btn">${drumLessonGroup.name}</a>
		</div>
		#{/list}
	</div>
	<div class="span10">
			#{list items:drumLessonGroups, as: 'drumLessonGroup' }
				<div class="span3">
				<h2>${drumLessonGroup.name}</h2>
				#{list items:drumLessonGroup.lessons, as: 'lesson'}
					#{if lesson.name }
						<a href="@{DrumLessons.showLesson(lesson.id)}">${lesson.name}</a><br/>
					#{/if}
				#{/list}			
				</div>	
			#{/list}
	</div>
</div>


<hr class="space" />