#{extends 'main.html' /}
#{set title:'Home' /}
<h1>Studio</h1>

<h2>Sessions</h2>
<a href="sessions/create">Create a new session</a>

<h4 class="song">${seshion[0].name}</h4>
	<object height="81" width="100%"> 
		<param name="movie" value="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F35246506&amp;show_comments=false&amp;auto_play=false&amp;color=ff7700"></param> <param name="allowscriptaccess" value="always"></param> <embed allowscriptaccess="always" height="81" src="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F35246506&amp;show_comments=false&amp;auto_play=false&amp;color=ff7700" type="application/x-shockwave-flash" width="100%"></embed> 
	</object> 
  	<div class="actions">
	  	<a href="/publish">edit</a>,
	  	<a href="/collaborateowner">collaborate(owner)</a>,
	  	<a href="/collaborateguest">collaborate(guest)</a>,
	  	<a href="/publish">publish</a>
  	</div>
	<h4 class="song">${seshion[1].name}</h4>
	<object height="81" width="100%"> 
		<param name="movie" value="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F33262317&amp;show_comments=false&amp;auto_play=false&amp;color=ff7700"></param> <param name="allowscriptaccess" value="always"></param> <embed allowscriptaccess="always" height="81" src="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F33262317&amp;show_comments=false&amp;auto_play=false&amp;color=ff7700" type="application/x-shockwave-flash" width="100%"></embed> 
	</object>   
	<div class="actions">
		<a href="/publish">edit</a>,
	  	<a href="/publish">collaborate</a>,
	  	<a href="/publish">publish</a>
	  </div>		

<h4 class="song">${seshion[1].name}</h4>
	<object height="81" width="100%"> 
		<param name="movie" value="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F33262317&amp;show_comments=false&amp;auto_play=false&amp;color=ff7700"></param> <param name="allowscriptaccess" value="always"></param> <embed allowscriptaccess="always" height="81" src="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F33262317&amp;show_comments=false&amp;auto_play=false&amp;color=ff7700" type="application/x-shockwave-flash" width="100%"></embed> 
	</object>   
	<div class="actions">
		<a href="/publish">edit</a>,
	  	<a href="/publish">collaborate</a>,
	  	<a href="/publish">publish</a>
	  </div>

<a href="findSession">Find a session</a>