#{extends 'main.html' /}
#{set title:'Home' /}

<div id="searchbox-container">
	<form action="@{Search.results()}" method="GET">
	    <input id="searchbox-textbox" type="text" name="searchTerm" /> 
	    <input type="submit" value="Search" />
	</form>
</div>
<div id="bandList"></div>
<script type="text/javascript">
$(function(){
	var app = new AppRouter();
	Backbone.history.start();
});
</script>

<script type="text/template" id="band-list-item">
	<a href='#/tabs/list/<%= name %>'><%= name %></a>
</script>

<script type="text/template" id="tab-list-item">
	<a href='#/tabs/list/<%= title %>'><%= name %></a>
</script>