<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /} :: 9Dials</title>
        <meta charset="${_response_encoding}">        
        <link rel="stylesheet" media="screen" href="@{'/public/bootstrap/css/bootstrap.min.css'}">        
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/lib/jquery.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/bootstrap/js/bootstrap.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/lib/underscore.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/lib/backbone.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        
        <script src="@{'/public/javascripts/routers/appRouter.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/models/band.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/models/bandCollection.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/models/tab.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/models/tabCollection.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/views/bandListItemView.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/views/bandListView.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/views/tabListItemView.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/views/tabListView.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
		    
    	<div class="navbar">
    	<div class="navbar-inner">
    		<div class="container">
    		<a class="brand" href="/">9 Dials Online Studio</a>
    		<ul class="nav">
    			<li><a id="studioLink" href="@{Sessions.index}">Studio</a></li>
    			<li><a id="academyLink" href="@{Academy.index}">Academy</a></li>
    			<li><a id="gearLink" href="http://gear.9dials.com">Gear</a></li>
    			<li><a id="tunaLink"  href="@{Tuna.index}">Tuna</a></li>
    		</ul>
    		<ul class="nav pull-right">
    		#{if _user }
    		<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">${_user.name} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/profile">My Profile</a></li>
                <li class="divider"></li>
                <li><a href="/auth/logout">Logout</a></li>
              </ul>
            </li>
    		#{/if}
    		#{else}
    			<li><a id="profile" href="/auth/login">login</a></li>
    		#{/else}
    		</ul>
    	</div>
    	</div>
    	</div>
    	<div class="container">
    	<div class="row-fluid">
  		<div id="content-header" class="span12">
	    		#{get 'contentHeader' /}
	    </div>
	    </div>
	    <div class="row-fluid">
    	<div id="content-body" class="span12">
        		#{doLayout /}
        </div>
        </div>
        <div class="row-fluid">
        <div id="footer" class="span12">
        	<a href="/howitworks">faq</a>
        	| <a href="/howitworks">How it works</a>
        	| <a href="/howitworks">Terms & Conditions</a>
        	| <a href='/fakefblogin'>Fake login</a>
        	<br/>
        	&copy; <a href="www.9dials.com">9dials</a>
        </div>
        </div>
        </div>
        <!-- Piwik --> 
		<script type="text/javascript">
		var pkBaseURL = (("https:" == document.location.protocol) ? "https://util.9dials.com/piwik/" : "http://util.9dials.com/piwik/");
		document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
		</script><script type="text/javascript">
		try {
		var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
		piwikTracker.trackPageView();
		piwikTracker.enableLinkTracking();
		} catch( err ) {}
		</script><noscript><p><img src="http://util.9dials.com/piwik/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
		<!-- End Piwik Tracking Code -->
    </body>
</html>
