<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/styles/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/scripts/lib/jquery.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/scripts/lib/underscore.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/scripts/lib/backbone.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        
        <script src="@{'/public/scripts/routers/appRouter.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/scripts/models/band.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/scripts/models/bandCollection.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/scripts/models/tab.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/scripts/models/tabCollection.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/scripts/views/bandListItemView.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/scripts/views/bandListView.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/scripts/views/tabListItemView.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/scripts/views/tabListView.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
    	<div id="site-navigation">
    		<ul>
    			<li><a href="http://localhost:8080">Studio</a></li>
    			<li><a href="http://localhost:9000">Tabs</a></li>
    		</ul>
    		<br clear="left" />
    	</div>
    	<div id="main-content">
        	#{doLayout /}
        </div>
    </body>
</html>
