#{extends 'studio.html' /}
#{set title:'Online Guitar Tuner' /}
<h1>Edit Profile</h1>
<h3>Basic details</h3>
#{form @Profile.updateBasics()}
	<p>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="${user.name}"/>
    </p>
    <p>
    <input type="submit" value="Save changes" />
    #{/form}

<h3>Upload a profile picture</h3>
<img width="100" height = "100" src="${user.imageUrl}" />
#{form @Profile.uploadPicture(), enctype:'multipart/form-data'}
    <input type="file" name="picture.image" />
    <input type="submit" name="submit" value="Upload picture" />
#{/form}

<h3>Instruments</h3>	
	<ul>
		#{ list items: user.instruments, as:'uinstrument' } 
		<li>${uinstrument.instrument.name}</li>
		#{/list}
	</ul>
#{form @Profile.addInstrument()}
    <p>
        <label for="name">Instrument name: </label>
        <input type="text" name="name" id="name" />
    </p>
    <p>
        <input type="submit" value="Add instrument" />
    </p>
#{/form}
<a href="/profile" >Done</a>
