#{extends 'main.html' /}
#{set title:'Online Guitar Tuner' /}
<style type="text/css">
	ul {
		margin:0;
		padding:0;
	}
	#profile-container ul li {
		display:inline;
		border-radius: 5px;
		padding:2px;
		border: 1px solid #999;
	}
	
	#sidebar {
		float:left;
	}
	
	.left {
		float:left;
	}
	
	#profile-container {
		margin-left:210px;
	}
</style>
<a href="/profile/edit" style="float:right">Edit</a>
<h1>Simon Riley</h1>
<div id="sidebar">
	<img src="@{'public/images/profile.jpg'}" />
</div>
<div id="profile-container">
	<p>I love everything about music. And I want to make it in the music industry</p>
	
	<h3>Instruments</h3>
	<ul>
		<li>Guitar</li>
		<li>Drums</li>
	</ul>
	<div>
		<h4>Bands</h4>
		<ul>
			<li>Nickleback</li>
			<li>Metallica</li>
			<li>Alice Cooper</li>
		</ul>
	</div>
	<div>
		<h4>Genres</h4>
		<ul>
			<li>Progressive Rock</li>
			<li>Hillbilly</li>
		</ul>
	</div>
	
	<h4>Music</h4>
	
	<object height="81" width="100%"> <param name="movie" value="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F35246506&amp;show_comments=false&amp;auto_play=false&amp;color=ff7700"></param> <param name="allowscriptaccess" value="always"></param> <embed allowscriptaccess="always" height="81" src="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F35246506&amp;show_comments=false&amp;auto_play=false&amp;color=ff7700" type="application/x-shockwave-flash" width="100%"></embed> </object>   <span><a href="http://soundcloud.com/rjchevalier/last-summer-ft-tara-minton">**New** Last Summer ft. Tara Minton</a> by <a href="http://soundcloud.com/rjchevalier">RJ Chevalier</a></span>
	
	<object height="81" width="100%"> <param name="movie" value="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F33262317&amp;show_comments=false&amp;auto_play=false&amp;color=ff7700"></param> <param name="allowscriptaccess" value="always"></param> <embed allowscriptaccess="always" height="81" src="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F33262317&amp;show_comments=false&amp;auto_play=false&amp;color=ff7700" type="application/x-shockwave-flash" width="100%"></embed> </object>   <span><a href="http://soundcloud.com/rjchevalier/time-to-rise-ft-tara-minton">Time to Rise ft. Tara Minton</a> by <a href="http://soundcloud.com/rjchevalier">RJ Chevalier</a></span>
</div>