#{extends 'studio.html' /}
#{set title:'9 Dials - ' + _user.name /}

<a href="/profile/edit" style="float:right">Edit</a>
<h1>${ _user.name }</h1>
<div id="sidebar">
	<img width="200" height = "300" src="${_user.imageUrl}" />
	<h2>Collectives</h2>
	<ul>
		<li><a href="/collective">Mount St Harmony</a></li>
		<li><a href="/collective">Naughty Noo Noos	</a></li>
		
	</ul>
</div>
<div id="main-content">
	<p>${ _user.bio }</p>
	
	<h3>Instruments</h3>
	
	<ul>
		#{ list items: _user.instruments, as:'uinstrument' } 
		<li>${uinstrument.instrument.name}</li>
		#{/list}
	</ul>
	<div>
		<h4>Bands</h4>
		<ul>
			<li>Nickleback</li>
			<li>Metallica</li>
			<li>Alice Cooper</li>
		</ul>
	</div>
	<div>
		<h4>Genres</h4>
		<ul>
			<li>Progressive Rock</li>
			<li>Hillbilly</li>
		</ul>
	</div>
	
	<h3>Music</h3>
</div>