#{extends 'main.html' /}
#{set title:'Online Guitar Tuner' /}

<a href="/profile/edit" style="float:right">Edit</a>
<h1>${ user.name }</h1>
<div id="sidebar">
	<img src="@{'public/images/profile.jpg'}" />
	<h2>Collectives</h2>
	<ul>
		<li><a href="/collective">Mount St Harmony</a></li>
		<li><a href="/collective">Woodland Creatures</a></li>
		
	</ul>
</div>
<div id="main-content">
	<p>${ user.bio }</p>
	
	<h3>Instruments</h3>
	<ul>
		<li>Guitar</li>
		<li>Drums</li>
	</ul>
	<div>
		<h4>Bands</h4>
		<ul>
			<li>Nickleback</li>
			<li>Metallica</li>
			<li>Alice Cooper</li>
		</ul>
	</div>
	<div>
		<h4>Genres</h4>
		<ul>
			<li>Progressive Rock</li>
			<li>Hillbilly</li>
		</ul>
	</div>
	
	<h3>Music</h3>
	
</div>